// btn
.btn{
  height: 40px;
  line-height: 40px;
  width: 110px;
  border: 2px solid $purple;
  text-align: center;
  border-radius:40px;
  background: #fff;
  color:$purple;
  letter-spacing:1px;
  text-shadow:0;
  padding: 5px 10px;
  font-size: 15px;
  input{
    display: none;
  }
  
}
.btn:hover{
  background-color: $purple;
  color: #fff;
}
.accent{
  border: 2px solid $highlight;

  background-color: #fff;
  color: $highlight;
}
.accent:hover{
  background-color: $highlight;
  color: #fff;
}
a{
  text-decoration: none;
}


.cancel{
  height: 40px;
  width: 90px;
  border: 2px solid $gray;
  text-align: center;
  border-radius:40px;
  background: #fff;
  color:$gray;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 15px;
}
.cancel:hover{
  background-color: $gray;
  color: #fff;
}
.edit{
  height: 40px;
  width: 90px;
  border: 2px solid $purple;
  text-align: center;
  border-radius:40px;
  background: #fff;
  color:$purple;
  letter-spacing:1px;
  text-shadow:0;
  padding: 5px 10px;
  font-size: 15px;
}
.edit:hover{
  background-color: $purple;
  color: #fff;
}
//delete


#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 3;
}


#modalWindow {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 500px;
  height: 400px;
  position: absolute;
//トップからの場所を指定（topをいじれば高さが調整できます）
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
//flexboxで子要素のボタンとメッセージボックスの要素を配置する
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//flexboxで文字の配置を決める（縦方向、中央揃え）
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
      font-size: 30px;
      font-weight: bold;
      margin-top: -100px;
    }
    img{
      width: 30%;
      margin: 0 auto;
    }
  }

  #modal-close-btn {
    width: 30%;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #494c4e;
    &:hover{
      opacity: 0.8; 
    }
  }

  #delete-comformation-btn {
    width: 30%;
    height: 60px;
    background-color: rgb(234, 53, 45);
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 15%;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    &:hover{
      opacity: 0.8; 
    }
  }
}

// .item-delete-btn {
// //削除ボタンの非表示
//   width: 0;
//   height: 0;
//   margin: 0;
//   padding: 0;
//   border: 0;
// }



#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  // display: none;
  z-index: 1000;
}
.labelmodal{
  width: 500px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 20px;
  #close{
    cursor: pointer;
  }
  form{
    width: 100%;
    .modal-header{
      height: 25%;
      font-size: 30px;
    }
    .modal-body{
      margin: 0 auto;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      input{
        margin-left: 5%;
        margin-right: 2%;
      }
      label{
        div{
          width: 30px;
          height: 30px; 
        }

      }

    }
    .modal-footer{
      height: 25%;

      }
  }
}

