<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>さん</h1>
    <p>期日が違いタスクがあります</p>
  </body>
</html>