<div class="container">
  <div class="box">
    <div class="title">
      Notifications
    </div>
    <div class="contents common">
        <ul class="notifications">
          <span class="warning">Expiring soon</span>
            <% if @warnings.empty? %><li class="notification">No Expiring task</li><% end %>
            <% @warnings.each do |warning| %>
               <li class="notification"><%= warning.taskname%></li>
            <% end %>
        </ul>

        <ul class="notifications">
          <span class="expired">Expired</span> 
              <% if @expireds.empty? %><li class="notification">No Expired task</li><% end %>
              <% @expireds.each do |expired| %>
                <li class="notification"> <%= expired.taskname%></li>
              <% end %>
        </ul>
    </div>
  </div>
</div>

