.calendar{
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  #blue{
    color: #33F;
  }
  #red{
    color: #F33;
  }

  tbody td:first-child{
    color: #F33;
  }
  tbody td:last-child{
    color: #33F;
  }
  table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  th, td{
    text-align: center;
    border-bottom: 1px solid $gray;
  } 
  td{
    width: 100px;
    height: 100px;

  }
  
  span{
    font-size: 10px;
  }

  #prev,
  #next,
  #today{
    user-select: none;
  }



  td.disabled{
    opacity: 0.3;
  }

  td.today{
    font-weight: bold;
    color: $headline;
  }

  td{
    width: 100px;
    height: 100px;
    text-align: left;
    position: relative;
    // border: solid 1px black;
    padding: 10px 5px;
    p{
      position: absolute;
      top: 0;
      font-size: 20px;
    }
  }
}