html{
  font-family: 'Raleway', sans-serif;

}
body{
  height: 100vh;
}



#container {
  position: relative;
  height: 100vh;
  z-index: 2;
  transition: all 0.5s;
}


.mobile-menu {
  position: fixed;
  right: 0;
  top: 40px;
  width: 230px;

  &__btn {
      background-color: unset;
      border: none;
      outline: none !important;
      cursor: pointer;
      position: absolute;
      right: 3%;

      & > span {
        background-color: black;
        width: 40px;
        height: 2px;
        display: block;
        margin-bottom: 12px;
        transition: transform 0.5s;

        &:last-child {
            margin-bottom: 0;
        }
    }
  }
  &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s;
      cursor: pointer;


  }
  &__main {
      padding: 0;
      perspective: 2000px;
      transform-style: preserve-3d;

  }
  &__item {
      list-style: none;
      display: block;
      transform: translate3d(0, 0, -1000px);
      padding: 0 40px;
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
  }
  &__link {
      display: block;
      margin-top: 30px;
      color: black;
      text-decoration: none;
 
  }
  &__image{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
    img{
      display: inline;
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
    a{
      text-decoration: none;
    }
    .right{
      margin-left: 5px;
    }


  }


}

.menu-open {

  & #container {
      transform: translate(-230px, 0);
      box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  
  & .mobile-menu {
      &__cover {
          opacity: 1;
          visibility: visible;
      }
      &__item {
          transform: none;
          opacity: 1;
          @for $i from 1 through 7 {
              &:nth-child(#{$i}) {
                  transition-delay: $i * 0.05s;
              }
          }
      }
    &__btn {
      & > span {
        background-color: black;

        &:nth-child(1) {
            transition-delay: 70ms;
            transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
            transition-delay: 0s;
            transform:  translateX(-18px) scaleX(0);
        }
        &:nth-child(3) {
            transition-delay: 140ms;
            transform: translateY(-16px) rotate(-135deg);
        }
      }
    }
  }
}

.main-title {
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.sub-title {
  display: block;
  font-size: 10px;
  color: #535353;
}



