html{
  font-family: 'Raleway', sans-serif;

}
body{
  height: 100vh;
}


  .flash{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: fixed;
    z-index:501;
  }
  .alert{
    background-color:$highlight;
    color:$headline ;

  }
  .notice{
    background-color:$purple;
    color:$white-background ;

  }
  .error {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }

.header{  
  display: flex;
  position: relative;
  position: fixed;
  z-index:500;
  height: 120px;
  line-height: 120px;
  width: 100%;
  background-color:$white-background;

    .title{
      text-align: center;
      width: 100%;
      font-weight:bold;
      font-size: 50px;
      letter-spacing: 0.1em;
      a {
        text-decoration: none;
        color:$headline;
        margin: 0 auto;
      }
    }

  .notification{
    position: absolute;
    right: 15%;
    cursor: pointer;
    .fa-bell{
      font-size: 35px;
      color:$headline ;
    }
    .n-circle {
      position: absolute;
      padding-left: 1.5rem;
      padding-top: 0.2rem;
      color: $highlight;
    }
  }

  .picture{
    position: absolute;
    top: 15px;
    right: 5%;
    img{
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.footer{
  .center{
    position: relative;
    background-color:$headline ;
    height: 300px;
    margin: 0 auto;
    color:$white-background;
    .title{
      font-weight:bold;
      text-align: center;
      font-size: 60px;
      letter-spacing: 0.1em;
      padding: 50px 0;
    }
    .copyright{
      p{
        margin-top: 50px;
        bottom: 0;
        font-size: 20px;
      }
    }
  }

  .list{
    position:absolute;
    right: 5%; 
    top:20%;
    ul{
      // display: flex;
      a{
        text-decoration: none;
        color:$white-background;
        list-style: none;
        margin-right: 30px;
        text-align: left;
      }
      a:last-child{
        margin-right: 100px;
      }
    }
  }



  
}
