

//group#index
.container__index{
  background-color:$white-background;
  min-height: 500px;
  h1{
    text-align: center;
  }
  .groups{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    .group{    
      border: solid 1px #ccc;
      height: 250px;
      margin: 5px;
      width: calc(100%/3 - 10px);
      position: relative;
      .info{
        height: 80%;
        padding: 5% 12%;
          a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 20px;
            .name{
              display: inline;

            }
          }
        
        table{
           margin-top: 15px;
          width: 100%;
          th{
            padding: 5px 10px;
            text-align: left;
            width: 80%;
          }
          td{
            padding: 5px 10px;
            width: 20%;
      
          }
        }
      }
      .manage{
        height: 20%;
        width: 100%;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        .managebtn{
          padding: 10px 20px;
        }
      }
    }
  }

}

//group#show
.container__info{
  background-color:$white-background;
  min-height: 150px;
  display: flex;
  justify-content: right;
  position: relative;
  .name{
    font-weight: bold;
    font-size: 32px;
    .participants{
      font-size: 20px;
      font-weight:normal;

    }
  }

  ul{
    position: absolute;
    right: 5%;
    list-style: none;
    li{
      text-align: right;
    }
  }
}