.container{
  background-color:$pp-background;
  width: 100%;
  position: relative;
  padding-top: 120px;
  .form{
    padding: 20px;
    background-color: $card-background;
    width: 60%;
    margin: 0 auto;
    p{
      font-size: 20px;
      font-weight: bold;
    }
    input, 
    textarea, 
    select{
      height: 50px;
      line-height: 50px;
      padding:0px 10px;
      width: 100%;
      border: none;
      margin-bottom: 20px;
      border-bottom: 2px solid $purple;
      background: transparent;
      cursor: pointer;
    }
    input:focus, 
    textarea:focus, 
    select:focus {
      border-bottom: 2px solid $highlight;
      outline: none;
    }
    .save{
      width: 10%;
      margin: 0 auto;

    }

  }
}


.temp{
  text-align: center;

}


.new{
  font-size: 60px;
  position: absolute;
  top: 200px;
  right: 80px;
  a{
    text-decoration: none;
    img{
      width: 50px;
      height: 50px;
    }
  }
}
.tasks{
  width: 60%;
  margin: 40px auto;
  padding: 0;
  text-align: left;
  .task{
    height: 70px;
    line-height: 70px;
    // background-color:$card-background;
    list-style: none;
    display: block;
    border-bottom: dotted 1px #67568c;
  }
}

.before{
  section{
    height: 700px;
    padding: 70px;
  }
  .top{
    background-color: $white-background;
    .message{
      padding: 80px 0;
      width: 100%;
      font-size: 60px;
      line-height: 150%;
      span{
        font-size: 70px;
        font-weight: bold;
      }
    }
    .btns{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .btn{
        color:$card-background;
        line-height: 60px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;

        background-color: $purple;
        width: 250px;
        height: 60px;
        margin-bottom: 20px;
        border-radius: 3px;
      }
      .btn:hover {
        opacity: .8;
      }
     .btn:first-child{
       margin-right: 60px;
     }
    }
  }
  .middle{
    background-color: $pp-background;
    height: 800px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    .description{
      height: 30%;
      width: 35%;
      .message{
        text-align: left;
        font-size: 35px;
        margin-right: 30px;
      }
      .movetext{opacity:0;}
      .movetext span{opacity:0;}
    }
    
    .video{
      position: relative;
      .video{
        width: 550px;
        height: 400px;
        border: 1px solid $headline;
        outline: none;

      }
    }
  }
  .bottom{
    background-color: $white-background;
    
  }
}



table.tasks {
  border-collapse: collapse;
}

.tasks td, .tasks th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}
.tasks td{
  height: 50px;
  width: 100px;
}


.tasks th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.tasks th .asc {
  background-image: url(up_arrow.gif);

}

.tasks th .desc {
  background-image: url(down_arrow.gif);
}

.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}

.swiper-container {
  // overflow: visible !important;

}
.swiper-slide{
  height: 500px;
  overflow: hidden;
   & > img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
   }
   &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
   }
   &-active{
    & > img{
      transform: none;
    }
    & > .hero__title{
      opacity: 1;
      transform: translate(-50%, -50%);
    }
   }
}

.hero{
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: Black;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

}