.container{
  background-color:$pp-background;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 120px;
  .form{
    padding: 20px;
    background-color: $card-background;
    width: 60%;
    // height: 80%;
    margin: 0 auto;
    p{
      font-size: 20px;
      font-weight: bold;
    }
    input, 
    textarea, 
    select{
      height: 50px;
      line-height: 50px;
      padding:0px 10px;
      width: 100%;
      border: none;
      margin-bottom: 20px;
      border-bottom: 2px solid $purple;
      background: transparent;
      cursor: pointer;
    }
    input:focus, 
    textarea:focus, 
    select:focus {
      border-bottom: 2px solid $highlight;
      outline: none;
    }
    .save{
      width: 10%;
      margin: 0 auto;

    }

  }
}


.temp{
  text-align: center;
  margin-bottom: 40px;
  p{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
  }
}


.new{
  font-size: 60px;
  position: absolute;
  top: 200px;
  right: 80px;
  a{
    text-decoration: none;
    img{
      width: 50px;
      height: 50px;
    }
  }
}
.tasks{
  width: 60%;
  margin: 40px auto;
  padding: 0;
  text-align: left;
  .task{
    height: 70px;
    line-height: 70px;
    // background-color:$card-background;
    list-style: none;
    display: block;
    border-bottom: dotted 1px #67568c;
  }
}

.before{

  section{
    height: 700px;
    padding: 70px;
  }
  .top{
    background-color: $white-background;
    .message{
      padding: 80px 0;
      width: 100%;
      font-size: 60px;
      line-height: 150%;
      span{
        font-size: 70px;
        font-weight: bold;
      }
    }
    .btns{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .btn{
        color:$card-background;
        line-height: 60px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;

        background-color: $purple;
        width: 250px;
        height: 60px;
        margin-bottom: 20px;
        border-radius: 3px;
      }
      .btn:hover {
        opacity: .8;
      }
     .btn:first-child{
       margin-right: 60px;
     }
    }
  }
  .middle{
    background-color: $pp-background;
    height: 800px;
    display: flex;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .description{
      height: 30%;
      width: 30%;
      .message{
        text-align: left;
        font-size: 30px;

      }
    }
    
    .video{
      // align-items: center;
      position: relative;
      width: 50%;
      border: 1px solid $headline;
      .video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        width: 20%;
      }
    }
  }
  .bottom{
    background-color: $white-background;
    
  }
}



table.tasks {
  border-collapse: collapse;
}

.tasks td, .tasks th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}



.tasks th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.tasks th .asc {
  background-image: url(up_arrow.gif);

}

.tasks th .desc {
  background-image: url(down_arrow.gif);
}