.container{
  background-color:$pp-background;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 120px;
  padding-bottom: 50px;

  .common{
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

  }
  &__task{
    background-color:$white-background;
    min-height: 500px;
    position: relative;
    button{
      outline: none;
    }
    .noresult{
      text-align: center;
    }
    .icon{
      position: absolute;
      top: 30px;
    }
    .export{
      left: 2%;
    }
    .import{
      left: 6%;
      button{
        border: none;
        background-color: $white-background;
      }

      p{
        width: 70px;
        position: absolute;
        top: 45px;
        left: -30%;
        text-align: center;
        // padding: 4px 5px;
        font-size: 12px;
        cursor: pointer;
      }
      input[type=file]{
        display: none;
      }

    }
    i{
      font-size: 40px;
      color: $gray;
      cursor: pointer;

    }



  }
  &__graph{
    background-color:$white-background;

    &__contents{
      
      display: flex;
      h1{
        text-align: center;
      }
      .chart1{
        width: 50%;
        position: relative;

        div#inside1{
          position: absolute;
          top: 20%;
          left: 0;
          width: 100%;
          height: 80%;
          text-align: center;
          margin-top: 60px;
        }


      }


      .chart2{
        width: 50%;
        position: relative;
        div#inside2{
          position: absolute;
          top: 20%;
          left: 0;
          width: 100%;
          height: 80%;
          text-align: center;
          margin-top: 60px;
        }
      }


    }

  }

  &__calendar{
    background-color:$white-background;
    min-height: 500px;

  }
}





.new{
  font-size: 60px;
  position: absolute;
  top: 5%;
  right: 4%;
  a{
    text-decoration: none;
    .plus{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $highlight;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        font-size: 30px;
        color: #FFF;
      }
    }

  }
}




.tasks{
  width: 80%;
  margin: 40px auto;
  padding: 0;
  border-collapse: collapse;

  th,td{
    border-bottom: solid 1px $gray;
    height: 50px;
    text-align: center;

    a{
      color:black;
    }
    td{
      height: 50px;

    }
  }




  .task{
    height: 70px;
    line-height: 70px;
    // background-color:$card-background;
    list-style: none;
    display: block;
    border-bottom: dotted 1px #67568c;
  }

}

.tasks th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.tasks th .asc {
  background-image: url(up_arrow.gif);

}

.tasks th .desc {
  background-image: url(down_arrow.gif);
}

.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}
.labels{
  .label{
    width: 100%;
    height: 20px;
  }
  span{
   display: inline-block;
  }
  width: 77px;
}
.taskname{
  width: 142px;
}
.status, .creator{
  width: 90px;
  i{
    font-size: 15px;
    color: $gray;
  }
}
.deadline{
  width: 92px;
}
.priority{
  width: 119px;
}
.manages{
  width: 230px;
}




.bluecolor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4897D8;
}
.redcolor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #CB0000;
}
.yellowcolor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFBB00;
}
.orangecolor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #DE7A22;
}
.greencolor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4B7447;
}

.search{
  input{
    color:#8a8a8a;
    display: block;
    width: 80%;
    height: 44px;
    padding: 5px 40px;
    border:1px solid #ccc;
    border-radius: 27px;
    margin: 0 auto;
  }
  :focus{
    outline: none; 
    border:1px solid $purple; 
    color:$purple; 
}
}








//以下ログイン前トップ画面
.before{
  text-align: center;
  padding-top: 120px;

  section{
    height: 700px;
    padding: 70px;
  }
  .top{

    background-color: $white-background;
    .message{
      padding: 80px 0;
      width: 100%;
      font-size: 60px;
      line-height: 150%;
      span{
        font-size: 70px;
        font-weight: bold;
      }
    }
    .btns{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .topbtn{
        color:$white-background;
        line-height: 60px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;

        background-color: $purple;
        width: 250px;
        height: 60px;
        margin-bottom: 20px;
        border-radius: 3px;
      }
      .topbtn:hover {
        opacity: .8;
      }
     .topbtn:first-child{
       margin-right: 60px;
     }
    }
  }
  .middle{
    background-color: $pp-background;
    height: 800px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    .description{
      height: 30%;
      width: 35%;
      .message{
        text-align: left;
        font-size: 35px;
        margin-right: 30px;
      }
      .movetext{opacity:0;}
      .movetext span{opacity:0;}
    }
    
    .video{
      position: relative;
      .video{
        width: 550px;
        height: 300px;
        border: 1px solid $headline;
        outline: none;

      }
    }
  }
  .bottom{
    background-color: $white-background;
    
  }
}





.swiper-slide{
  height: 500px;
  overflow: hidden;
   & > img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
   }
   &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
   }
   &-active{
    & > img{
      transform: none;
    }
    & > .hero__title{
      font-weight: bold;
      opacity: 1;
      transform: translate(-50%, -50%);
      background: linear-gradient(transparent 70%, #ff6e6c 70%);

      
    }
   }
}

.hero{
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: Black;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

}

//task#show
.taskform.taskshow{
  height: 600px;
  .borders{
    width: 100%;
    color: black;
    height: 44px;
    line-height: 44px;
    border: 1px solid #ccc;
    border-radius: 27px;
    outline: none;
    appearance: none;
    text-align: left;
    padding: 0px 40px;
  
  }
  .show{
    display: flex;
    justify-content:space-evenly;
  }
}

