.file{
    display: none;
}




//show
.usershow{
  padding-bottom: 50px;
  padding-top: 50px;
  .container__top{
    background-color:$pp-background ;
    height: 300px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;
    
    .manage{
      position: absolute;
      top: 2%;
      right: 2%;
      
    }
    .left{
      position: absolute;
      z-index: 300;
      top: 5%;
      left: 0;
        width: 30%;
  
      .image{
        img{
          width: 50%;
          height: 50%;
          object-fit: cover;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
  
    }
    .right{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70%;
      z-index: 200;
      background-color:$white-background ;
      .contents{
        padding: 40px;
        width: 70%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        p{
          font-size: 25px;
        }
        .admin{
          color: black;
          background: linear-gradient(transparent 70%, $highlight 70%);

        }
      }
    }
  }
  .container__bottom{
    background-color:$white-background;
    min-height: 500px;
  }
}



//   .bottom{
//     background-color:$card-background;
//     border-top:none;
//     margin: 0 auto;
//     height: 600px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     table{
//       width: 70%;
//       // border: solid 1px black;
//       border-collapse: collapse;
//       font-size: 30px;
//       th,td{
//         padding: 20px;
//       }
//       th{
//         text-align: right;
//         width: 20%;
//       }
//       td{
//         width: 80%;
//         text-align: center;
//       }
//     }
//   }
// }
