  <div class="container">
    <% if current_user && current_user.admin?%>
    <%= link_to '一覧', admin_users_path %>
    <% end %>

    <%= render partial: 'form', locals: { user: @user } %>

  </div>
