<div class="calendar">
  <h1>Calendar</h1>
  <table>
    <thead>
      <tr>
        <th id="prev" colspan="1"><</th>
        <th id="title" colspan="5"></th>
        <th id="next" colspan="1">></th>
      </tr>
      <tr>
        <th id="red">Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th id="blue">Sat</th>
      </tr>
    </thead>
    <tbody id="calendar">

    </tbody>
    <tfoot>
      <tr>
        <th id="today" colspan="7">Today</th>
      </tr>
    </tfoot>
  </table>



</div>