<div id="overlay">
  <div id="modalWindow">
    <div class="modal-message-box">
      <%= image_tag asset_path("delete.png", alt: "delete") %>
        <p>Are you sure?</p>
    </div>
    <button id="modal-close-btn">Cancel</button>
    <button id="delete-comformation-btn">Delete</button>
  </div>
</div> 