<div class="footer">

    <div class="center">
      <div class="title">Task App</div>
      <div class="copyright">
        <p>© 2020 NINEFS</p>
      </div>


  <div class="list">
    <ul>
      <a href="/"><li>How it works</li></a>
      <a href="/"><li>Terms of Service</li></a>
      <a href="/"><li>Privacy Policy</li></a>
      <a href="/"><li>FAQ</li></a>
    </ul>
  </div>

  </div>
</div>