<div class="header">
  <div class="title">Task App</div>
  <div class="picture">
    <% if user_signed_in? %>
        <%= image_tag 'account.png' %>
      <%# if current_user.image.present? %>
            <%#= image_tag current_user.image %>
        <%# else %>
            <%#= image_tag 'account.png' %>
        <%# end %>
    <% end %>
  </div>
</div>