<div class="header">
  <%= link_to root_path do %>
    <div class="title">Task App</div>
  <% end %>
  <div class="picture">
    <% if current_user %>
        <%#= image_tag 'account.png' %>
      <%= link_to user_path(current_user.id) do %>
      <% if current_user.image.present? %>
            <%= image_tag current_user.image %>
        <% else %>
            <%= image_tag 'account.png' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>