<nav class="mobile-menu">
    <ul class="mobile-menu__main">
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
                <span class="main-title">My Calender</span>
                <span class="sub-title">カレンダーをみる</span>
            </a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
                <span class="main-title">My Group</span>
                <span class="sub-title">グループを見る</span>
            </a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
                <span class="main-title">Logout</span>
                <span class="sub-title">ログアウトする</span>
            </a>
        </li>
    </ul>
</nav>